@import "tailwindcss";

@theme {
  /* Identitas Tropis, Rotan, & Linen */
  --color-brand-bg: #F5F2EB; /* Warna dasar Linen / Krem natural */
  --color-brand-dark: #3E362E; /* Warna kayu tua / Cokelat gelap untuk teks utama */
  --color-brand-rattan: #C29B6E; /* Warna aksen Rotan */
  --color-brand-muted: #8C8276; /* Warna teks sekunder (Abu-abu hangat) */
  
  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-inter), sans-serif;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-dark);
  scroll-behavior: smooth; /* Efek scroll halus saat klik menu */
}

/* --- CUSTOM PREMIUM SCROLLBAR --- */

/* 1. Mengatur lebar scrollbar menjadi lebih tipis */
::-webkit-scrollbar {
  width: 8px;
}

/* 2. Mengatur jalur (track) background scrollbar */
::-webkit-scrollbar-track {
  background: #12100f; /* Warna gelap senada dengan background website */
}

/* 3. Mengatur pegangan (thumb) scrollbar */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); /* Warna putih transparan agar elegan */
  border-radius: 10px; /* Membuat ujungnya membulat mulus */
}

/* 4. Efek saat kursor diarahkan ke scrollbar (Hover) */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4); /* Menjadi sedikit lebih terang saat disentuh */
}