@import "tailwindcss";

@theme {
  /* Identitas Tropis, Rotan, & Linen */
  --color-brand-bg: #F5F2EB; /* Warna dasar Linen / Krem natural */
  --color-brand-dark: #3E362E; /* Warna kayu tua / Cokelat gelap untuk teks utama */
  --color-brand-rattan: #C29B6E; /* Warna aksen Rotan */
  --color-brand-muted: #8C8276; /* Warna teks sekunder (Abu-abu hangat) */
  
  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-inter), sans-serif;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-dark);
  scroll-behavior: smooth; /* Efek scroll halus saat klik menu */
}